doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/build.js" async defer)
    style.
      html,body,#app {
        height: 100%;
      }
      body {
        margin: 0;
      }
  body
    #app